@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

:root {
    --box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(13deg, #8052ec, #d161ff);
}

h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    
}

.container {
    width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

#newtask {
    position: relative;
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

#newtask input {
    width: 70%;
    height: 45px;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    border: none;
    background: #eee;
    text-align: center;
    border-radius: .5rem;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newtask input:focus {
    outline: none;
}

#newtask button {
    padding: 1em 2em;
    background: #602ed4;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    border: none;
    margin-left: 2em;
    font-size: .75rem;
}

#tasks {
    background: #ffffff;
    padding: 30px 20px;
    margin-top: 2em;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    position: relative;
}

.task {
    background-color: #ffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #8052ec;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;
}


@media (max-width: 1500px) {
    .container {
        width: 50%;
        background-color: #fff;
    }

    h1 {
        font-size: 1.5rem;
    }

    #date__time {
        text-align: center;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }

    #newtask {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    .container {
        width: 90%;
        background-color: white;
    }

    h1 {
        font-size: 1.5rem;
    }

    #newtask {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
        background-color: white;
    }

    #newtask {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}